
# IDE
*.idea
*.vscode
*.user
*.vs
.vs/
.cache/

# CMake
compile_commands.json
CMakeSettings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
out/
build*/
cmake-*/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# logs
log/

# Misc
????????-????-????-????-????????????

# Build
.out
.build
*-build-*

.clion.source.upload.marker
